*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
    display: flex;
    align-self: center;
    justify-self: center;
    font-size: 1.5rem; 
    color:rgb(82, 157, 228); 
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10vw;
    height: 15vh;
}
.logo i{
    cursor: pointer;
}
.logo img{
    width: 120px;
}
.containerCadastro{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    background-color: white;
    box-shadow: 3px 3px 9px lightgrey;
    z-index: 110;
}
.cabecalhoCadastro{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 20vh;
    box-shadow: 3px 3px 6px lightgrey;
}
.tituloCadastro{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 45px;

}
.tituloCadastro h1{
    font-size: 2rem;
    color: rgb(82, 157, 228);
    text-align: left;
}
i{
    cursor: pointer;
    font-size: 24px;
    color:rgb(82, 157, 228);
}
.tituloCadastro a{
    font-size: 16px;
    color:rgb(82, 157, 228);
}
.opcoesAcesso{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70vw;
    min-height: 40vh;
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
.opcoesAcesso h3{
    margin-bottom: 20px;
}
.portal{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30vw;
    height: 39vh;
    border: 1px solid lightgrey;
    border-radius: 10px;
    box-shadow: 3px 6px 12px lightgrey;
    margin: 10px;
}
.portal:hover{
    box-shadow: 5px 5px 15px cornflowerblue;
    transform: scale(1.2);
}
.portal:active{
    transform: scale(0.9);
}   
.portalAluno{
    position: absolute;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 10px;
    box-shadow: 3px 3px 9px lightgrey;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    flex-direction: row;
    width: 60vw;
    height: fit-content;
    top: 21vh;
    left: 20vw;
    padding: 10px;
    padding-left: 40px;
    visibility: hidden;
    transition: all 0.5s;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 29vw;
    height: 40px;
}
.submenu{
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: column;
    width: 150px;
    height: 200px;
    border: 1px solid grey;
}
.submenu a{
    text-align: left;
}
.caixa1{
    width: 40vw;
    min-height: 20vh;
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 10px;
}
.caixa1 h3{
    color:rgb(82, 157, 228);
    font-size: 0.9rem;
    margin-bottom: 5px;
}
.caixa1 input{
    border: 1px solid lightgrey;
    border-radius: 5px;
    width: 95%;
    height: 40px;
    margin-bottom: 10px;
    outline: 0;
    padding: 5px;
}
.nivel{
    display: flex;
    align-items: center;
    justify-content: left;

}
label{
    color:rgb(82, 157, 228);
}
.nivel input[type=radio]{
    width: 16px;
    margin: 2px 10px 0 10px;
}
.celulares{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
}
.celular, .fixo{
    width: 20vw;
}
textarea{
    width: 95%;
    height: 15vh;
    border: 1px solid lightgrey;
    border-radius: 5px;
    color:rgb(82, 157, 228);
    outline: 0;
    padding-left: 10px;
    padding-top: 10px;
}
.caixa2{
    width: 15vw;
    min-height: 45vh;
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin-left: 10px;
}
.caixa2 h3{
    margin: 10px 0 10px 5px;
    margin-left: 10px;
    padding-left: 5px;
    color: rgb(82, 157, 228);
}
.caixa2 input{
    margin-left: 10px;
    margin-bottom: 10px;
    width: 92%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    outline: 0;
}
.foto{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: lightgrey;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.botoesPortalAluno button{
    width: 100px;
    height: 35px;
    border: 1px solid grey;
    border-radius: 5px;
}
.botoes{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vw;
}
.botoes button{
    width: 100px;
    height: 40px;
    margin-right: 5px;
    border: 1px solid rgb(212, 200, 200);
    border-radius: 5px;
}
.portalProfessor{
    position: absolute;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 10px;
    box-shadow: 3px 3px 9px lightgrey;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    flex-direction: row;
    width: 60vw;
    height: fit-content;
    top: 21vh;
    left: 20vw;
    padding: 10px;
    padding-left: 40px;
    visibility: hidden;
    transition: all 0.5s;
}
.caixa1Professor button{
    width: 10vw;
    height: 40px;
    padding: 5px;
    color: white;
    border: 1px solid rgb(23, 78, 180);
    border-radius: 5px;
    background-color: rgb(23, 78, 180);
}
.caixa1Professor input{
    border-radius: 5px;
    border: 1px solid lightgrey;
    color: rgb(82, 157, 228);
    width: 55vw;
    height: 40px;
    outline: 0;   
    padding: 10px;
}
.caixa1Professor h3{
    margin: 10px 0 15px 0;
}
.portalProfessor input[type=radio]{
    width: 14px;
}
.disciplina{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 55vw;
    padding-right: 5px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    margin-top: 20px;
}
.celularesProfessor{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 55vw;
    margin: 0;
}
.celularesProfessor input{
    width: 25vw;
}
.portalCoordenacao{
    position: absolute;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 10px;
    box-shadow: 3px 3px 9px lightgrey;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    flex-direction: row;
    width: 60vw;
    height: fit-content;
    top: 21vh;
    left: 20vw;
    padding: 10px;
    padding-left: 40px;
    visibility: hidden;
    transition: all 0.5s;
}

.notas{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 20vh;
    left: 25vw;
    right: auto;
    min-width: 45vw;
    min-height: 50vh;
    background-color: rgb(167, 193, 240);
    border-radius: 10px;
    border: 1px solid grey;
    z-index: 500;
}
.un{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 12vw;
    background-color: cornflowerblue;
    border-radius: 10px;
    border: 1px solid lightgrey;
    padding: 10px;
    margin: 10px;
}
.un input{
    width: 10vw;
    height: 35px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-size: 1.3rem;
    color: rgb(84, 124, 199);
    outline: 0;
}
#media1, #media2, #media3, #media4{
    height: 80px;
    color: cornflowerblue;
    font-size: 2rem;
}
.un h3{
    padding: 10px;
    margin-left: 10px;
    color: white;
}




